<div class="card">
  <p-table
    #dt
    [value]="attendance"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="[
      'name',
      'country.name',
      'representative.name',
      'status'
    ]"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedAttendance"
    responsiveLayout="scroll"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <span>
          <p-dropdown
            [options]="events"
            [formControl]="eventControl"
            placeholder="Select Event"
            optionLabel="event_name"
            [showClear]="true"
          ></p-dropdown>
          <p-button
            label="Filter"
            (click)="filterEvents()"
            styleClass="p-button-success"
          ></p-button>
        </span>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" placeholder="Search..." />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Full Name</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Organization</th>
        <th>Location</th>
        <th>Phone Number</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-attendance>
      <tr>
        <td>{{ attendance.name }}</td>
        <td>{{ attendance.gender }}</td>
        <td>{{ attendance.email }}</td>
        <td>{{ attendance.organization }}</td>
        <td>{{ attendance.registry_from }}</td>
        <td>{{ attendance.phone_number }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between"></div>
    </ng-template>
  </p-table>
</div>
