<div class="surface-ground px-3 py-2 md:px-3 lg:px-3">
  <div class="surface-card p-4 shadow-2 border-round p-fluid">
    <div
      class="grid formgrid p-fluid"
      *ngFor="let field of fieldsArray"
      [ngSwitch]="field.field_type"
    >
      <div class="field mb-4 col-12 md:col-12" *ngSwitchCase="'textField'">
        <label for="customer_name" class="font-medium text-900">{{
          field.field_name
        }}</label>

        <app-textArea [placeholder]="field.field_name"></app-textArea>
      </div>
      <!-- <div class="field mb-4 col-12 md:col-12" *ngSwitchCase="'dropDown'">
        <label for="customer_name" class="font-medium text-900">{{
          field.fieldName
        }}</label>
        <app-dropdown
          [placeholder]="field.fieldName"
          [textFieldFormControl]="control"
        ></app-dropdown>
      </div> -->
    </div>
  </div>
</div>
