@media screen and (max-width: 600px) {
  .min-h-screen {
    flex-direction: column;
  }
  .h-screen {
    height: 50vh !important;
  }
}
.min-h-screen {
  background-color: green($color: #000000);
}
