<div class="surface-ground px-3 py-2 md:px-3 lg:px-3">
  <div *ngIf="user_id == user_id">
    <p-toolbar styleClass="mb-4 gap-2">
      <ng-template pTemplate="left">
        <button
          pButton
          pRipple
          label="New"
          icon="pi pi-plus"
          class="p-button-success mr-2"
          pTooltip="click to add new event"
          (click)="addNewEvent()"
        ></button>
      </ng-template>
    </p-toolbar>

    <p-table
      #dt
      [value]="events"
      [rows]="10"
      [paginator]="true"
      [scrollable]="true"
      scrollHeight="400px"
      responsiveLayout="scroll"
      [globalFilterFields]="[
        'events.event_name',
        'events.venue',
        'events.start_date'
      ]"
      [tableStyle]="{ 'min-width': '75rem' }"
      [rowHover]="true"
      [(selection)]="selectedEvent"
      dataKey="id"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <h5 class="m-0">Manage Events</h5>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" placeholder="Search..." />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Event Name</th>
          <th>Venue</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-events>
        <tr
          [routerLink]="['details/', events.id]"
          pTooltip="click to view details"
          tooltipPosition="top"
        >
          <td>{{ events.event_name }}</td>
          <td>{{ events.venue }}</td>
          <td>{{ events.start_date }}</td>
          <td>
            <a [routerLink]="['details/', events.id]">
              <button
                pButton
                pRipple
                icon="pi pi-info"
                class="p-button-rounded p-button-info mr-2"
                pTooltip="Click to view details of {{ events.event_name }}"
              ></button>
            </a>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          <!-- In total there are {{products ? products.length : 0 }} products. -->
        </div>
      </ng-template>
    </p-table>
  </div>
  <app-userEvents *ngIf="user_id != user_id"></app-userEvents>
</div>
