<div class="surface-ground px-3 py-2 md:px-3 lg:px-3">
  <div class="surface-card p-4 shadow-2 border-round p-fluid">
    <div class="grid formgrid p-fluid" [formGroup]="eventForm">
      <div class="field mb-4 col-12 md:col-12">
        <label for="company_name" class="font-medium text-900"
          >Event Name</label
        >
        <input
          id="company_name"
          type="text"
          pInputText
          formControlName="event_name"
        />
      </div>
      <div class="field mb-4 col-12">
        <label for="notes" class="font-medium text-900">Description</label>
        <textarea
          style="min-height: 45px !important; overflow: hidden"
          id="notes"
          pInputTextarea
          [autoResize]="true"
          [rows]="2"
          formControlName="description"
        ></textarea>
      </div>

      <div class="field col-12 md:col-12 justify-content-center">
        <label for="invoice_date" class="font-medium text-900"
          >Select Start & End Date</label
        >
        <p-calendar
          formControlName="date"
          selectionMode="range"
          (onSelect)="($event)"
          id="invoice_date"
          [showIcon]="true"
          [showSeconds]="true"
          appendTo="body"
        ></p-calendar>
      </div>
      <div class="field col-12 md:col-12 justify-content-center">
        <label for="invoice_date" class="font-medium text-900"
          >Time Event Starts</label
        >
        <p-calendar
          formControlName="start_time"
          [showTime]="true"
          [showIcon]="true"
          [timeOnly]="true"
          [showSeconds]="true"
          appendTo="body"
          dateFormat="dd-mm-yy"
        ></p-calendar>
      </div>
      <div class="field col-12 md:col-12 justify-content-center">
        <label for="invoice_date" class="font-medium text-900"
          >Time Event Ends</label
        >
        <p-calendar
          formControlName="closing_time"
          [showTime]="true"
          [showIcon]="true"
          [showSeconds]="true"
          [timeOnly]="true"
          appendTo="body"
        ></p-calendar>
      </div>

      <div class="field mb-4 col-12 md:col-12">
        <label for="customer_email" class="font-medium text-900">Venue</label>
        <input
          formControlName="venue"
          id="customer_email"
          type="text"
          pInputText
        />
      </div>
      <div class="field mb-4 col-12 md:col-12">
        <label for="customer_email" class="font-medium text-900"
          >Expected Number</label
        >
        <p-inputNumber
          formControlName="number_of_participants"
          inputId="item"
          type="text"
          class="flex-1"
        ></p-inputNumber>
      </div>
      <div class="field mb-4 col-12 md:col-12">
        <label for="country2" class="font-medium text-900"
          >Means of Joining Event</label
        >

        <p-autoComplete
          formControlName="how_to_join"
          [suggestions]="filteredjoiningEventOptions"
          (completeMethod)="filterOptions($event)"
          placeholder="Select means of joining"
          field="value"
          [dropdown]="true"
          [multiple]="true"
          dataKey="value"
          (onSelect)="selected($event)"
          appendTo="body"
        >
          <ng-template let-joiningEventOptions pTemplate="item">
            <div>
              <div>{{ joiningEventOptions.value }}</div>
            </div>
          </ng-template>
        </p-autoComplete>
      </div>
      <div class="field mb-4 col-12 md:col-12">
        <label for="country2" class="font-medium text-900"
          >Assign Moderators</label
        >

        <p-autoComplete
          formControlName="user_id"
          placeholder="Select moderators"
          [suggestions]="filteredModerator"
          (completeMethod)="filterModerator($event)"
          field="name"
          [dropdown]="true"
          appendTo="body"
        >
          <ng-template let-moderators pTemplate="item">
            <div>
              <div>{{ moderators.name }}</div>
            </div>
          </ng-template>
        </p-autoComplete>
      </div>

      <div class="field mb-4 col-12 md:col-12">
        <label for="customer_email" class="font-medium text-900"
          >Upload Event's Flyer</label
        >
        <input pInputText type="file" (change)="onChangeFyler($event)" />
      </div>
      <div class="field mb-4 col-12 md:col-12">
        <label for="customer_email" class="font-medium text-900"
          >Upload Program's Outline</label
        >
        <input
          pInputText
          type="file"
          (change)="onChangeProgramOutline($event)"
        />
        <!-- <p-fileUpload
          formControlName="program_outline"
          mode="basic"
          chooseLabel="Choose"
          name="demo[]"
          accept="image/*"
        ></p-fileUpload> -->
      </div>
      <div class="field mb-4 col-12 md:col-6 m-0" *ngIf="!data">
        <br />
        <button
          pButton
          pRipple
          styleClass="p-button-success"
          label="Create Event"
          (click)="addEvent()"
          icon="pi pi-file"
          class="p-button-success w-auto"
        ></button>
      </div>
    </div>
  </div>
</div>
