<div>
  <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6 m-auto">
    <div class="text-center mb-5">
      <h1>Create Password</h1>
      <h2>Please enter email to a get link to create a new password</h2>
    </div>

    <div>
      <input
        type="text"
        pInputText
        placeholder="Email"
        [formControl]="email"
        class="w-full mb-3"
      />

      <div>
        <button
          pButton
          pRipple
          label="Submit"
          class="w-3"
          label="Submit"
          icon="pi pi-send"
          (click)="submitForm()"
          [disabled]="!email.valid"
        ></button>
      </div>
    </div>
  </div>
</div>
