<div class="surface-ground px-3 py-2 md:px-3 lg:px-3">
  <div class="surface-card p-4 shadow-2 border-round p-fluid">
    <div class="grid formgrid p-fluid" [formGroup="form">
      <div class="field mb-4 col-12 md:col-12">
        <label for="company_name" class="font-medium text-900">Password</label>
        <input id="name" type="text" pInputText formControlName="password" />
      </div>
      <div class="field mb-4 col-12 md:col-12">
        <label for="password" class="font-medium text-900"
          >Confirm Password</label
        >
        <input
          id="name"
          type="password"
          pInputText
          formControlName="confirmPassword"
        />
      </div>

      <div class="field mb-4 col-12 md:col-6 m-0">
        <br />
        <button
          pButton
          pRipple
          [disabled]="form.invalid"
          styleClass="p-button-success"
          label="Create User"
          (click)="createForm()"
          icon="pi pi-file"
          class="p-button-success w-auto"
        ></button>
      </div>
    </div>
  </div>
</div>
