<ng-container *ngIf="loading | async; else elseTemplate">
  <div class="flex justify-content-center align-items-center mt-8">
    <i
      class="pi pi-spin pi-spinner text-primary"
      style="font-size: 5rem"
    ></i></div
></ng-container>

<ng-template #elseTemplate>
  <div class="flex-column p-4" *ngIf="showForm">
    <div>
      <img
        src="assets/images/logo.png"
        alt="Image"
        height="40"
        class="mr-0 lg:mr-6"
      />
    </div>

    <div
      class="border-2 surface-border border-round surface-card grid formgrid p-fluid align-items-center justify-content-center"
    >
      <div class="col-12">
        <!-- {{ eventData.flyer }} -->
        <!-- <img [src]="eventData.flyer" />
        <img ngSrc="eventData.flyer" /> -->
        <img ngSrc="eventData" />
        <!-- <img [src]="eventData" /> -->
      </div>
      <div
        class="surface-ground px-4 py-4 md:px-6 lg:px-4 col-9"
        style="width: 80vw"
        *ngIf="participantForm && controlLength > 0"
      >
        <div class="field mb-4 col-12" *ngIf="joiningEventOptions.length == 1">
          <label class="font-medium text-900">Means of Joining Event</label>
          <div class="col-12">
            <input
              type="text"
              [disabled]="true"
              pInputText
              [(ngModel)]="joiningEvent"
              class="w-full"
            />
          </div>
        </div>
        <div [formGroup]="participantForm">
          <div
            class="field mb-4 col-12"
            *ngIf="joiningEventOptions.length == 2"
          >
            <label class="font-medium text-900">Means of Joining Event</label>
            <div class="col-12">
              <p-dropdown
                [options]="joiningEventOptions"
                placeholder="Select how to partake this event"
                formControlName="Means Of Joining Event"
              ></p-dropdown>
            </div>
          </div>
          <div *ngFor="let control of fieldsArray">
            <app-textArea
              [formLabel]="control.fieldName"
              [placeholder]="control.fieldName"
              [controlName]="control.fieldName"
              [form]="participantForm"
              *ngIf="control.fieldType === 'textField'"
            ></app-textArea>
            <app-dropdown
              [formLabel]="control.fieldName"
              [placeholder]="control.fieldName"
              [control]="control.fieldName"
              [selectableOption]="control.options"
              [form]="participantForm"
              *ngIf="control.fieldType === 'dropdown'"
            ></app-dropdown>
            <app-number
              [formLabel]="control.fieldName"
              [controlName]="control.fieldName"
              [form]="participantForm"
              *ngIf="control.fieldType === 'inputNumber'"
            ></app-number>
            <app-date
              [formLabel]="control.fieldName"
              [placeholder]="control.fieldName"
              [control]="control.fieldName"
              [form]="participantForm"
              *ngIf="control.fieldType === 'date'"
            ></app-date>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="!registeredParticipantDetails"
      class="flex align-items-end justify-content-end m-2"
    >
      <button
        pButton
        pRipple
        icon="pi pi-check"
        type="button"
        label="Register"
        [disabled]="participantForm.invalid"
        (click)="submitForm()"
      ></button>
    </div>

    <p-toast></p-toast>
    <p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
  </div>
</ng-template>
