<ng-container *ngIf="loading | async; else elseTemplate">
  <div class="flex justify-content-center align-items-center mt-8">
    <i
      class="pi pi-spin pi-spinner text-primary"
      style="font-size: 5rem"
    ></i></div
></ng-container>

<ng-template #elseTemplate>
  <div class="p-4">
    <img
      src="assets/images/logo.png"
      alt="Image"
      height="40"
      class="mr-0 lg:mr-6"
    />
    <div
      class="border-2 surface-border border-round surface-card grid formgrid p-fluid align-items-center justify-content-center"
    >
      <div class="col-12">
        <!-- {{ eventData.flyer }} -->
        <!-- <img [src]="eventData.flyer" />
        <img ngSrc="eventData.flyer" /> -->
        <img ngSrc="eventData" />
        <!-- <img [src]="eventData" /> -->
      </div>
      <div
        class="surface-ground px-4 py-4 md:px-6 lg:px-4 col-12"
        style="width: 60%"
        *ngIf="participantForm && controlLength > 0"
        [formGroup]="participantForm"
      >
        <div *ngFor="let control of fieldsArray">
          <app-textArea
            [label]="control.fieldName"
            [placeholder]="control.fieldName"
            [controlName]="control.fieldName"
            [form]="participantForm"
            *ngIf="control.fieldType === 'textField'"
          ></app-textArea>
          <app-dropdown
            [formLabel]="control.fieldName"
            [placeholder]="control.fieldName"
            [control]="control.fieldName"
            [selectableOption]="control.options"
            [form]="participantForm"
            *ngIf="control.fieldType === 'dropdown'"
          ></app-dropdown>
          <app-date
            [formLabel]="control.fieldName"
            [placeholder]="control.fieldName"
            [control]="control.fieldName"
            [form]="participantForm"
            *ngIf="control.fieldType === 'date'"
          ></app-date>
        </div>
        <div>
          <button
            pButton
            pRipple
            type="button"
            class="w-3"
            label="Submit"
            (click)="submitForm()"
          ></button>
        </div>
      </div>
    </div>

    <!-- <div>
      <button
        pButton
        pRipple
        class="w-6"
        type="button"
        label="Submit"
        (click)="submitForm()"
      ></button>
    </div> -->

    <p-toast></p-toast>
    <p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
  </div>
</ng-template>
