<div class="grid formgrid p-fluid w-12" [formGroup]="participantFieldsForm">
  <div class="field mb-4 col-12">
    <input
      id="field_name"
      formControlName="fieldName"
      type="text"
      pInputText
      pTooltip="Enter Field Name"
      placeholder="ex. Contact"
    />
  </div>
  <div class="field mb-4 col-12">
    <p-dropdown
      [options]="textFieldType"
      formControlName="fieldType"
      placeholder="Select Field Type"
      optionLabel="viewValue"
      [showClear]="true"
      dataKey="value"
    >
    </p-dropdown>
  </div>
  <div class="field mb-4 col-12" *ngIf="displayDropdownOptions">
    <p-chips
      formControlName="options"
      separator=","
      pTooltip="Enter Options "
      placeholder="Hint: a, b, c"
    ></p-chips>
  </div>
  <div></div>
  <div class="field mb-4 col-12">
    <label>Validators</label>
    <app-validators #validatorsForm [data]="data?.validators"></app-validators>
  </div>
</div>
