<!-- <div class="p-4">
  <div
    class="border-2 border-dashed surface-border border-round surface-card"
    style="min-height: 20rem"
  >
    <div>
      <label icon="pi pi-plus"></label>
      <h1 icon="pi pi-plus">THANK YOU FOR REGISTERING!</h1>
    </div>
  </div>
</div> -->

<div class="p-4">
  <img
    src="assets/images/logo.png"
    alt="Image"
    height="40"
    class="mr-0 lg:mr-6"
  />
  <div
    class="border-2 border-dashed surface-border border-round surface-card"
    style="min-height: 20rem"
  >
    <div style="text-align: center">
      <h1>THANK YOU FOR REGISTERING!</h1>
      <h2>
        Please check your email for further instructions on how to join the
        event
      </h2>
    </div>
  </div>
</div>
